@font-face{
  font-family:Aquiline;
  src: url("../../Assets/Fonts/Aquiline.ttf");

}

li{
  color: #ffff;
  list-style: none;
  display:flex;
  justify-content: left;
  padding:1vh 8vh;
  font-family: ParryHotter;
  font-size: 3vh;
}

.li{
  border: 1px solid #fff;
}
.li:hover{
  background:#3284b8;
  color:#000
}
.container_box{
  background:url('../../Assets/Images/darkbg.jpg') no-repeat ;
  background-size:cover;
  padding:5vh
}
.container_li{
  background:#00000095;

}
.spellsize{
  color: #ffffff;
  font-size:3vh;
  font-family: ParryHotter;
}
@media screen and (max-width:600px){
  .div{
    display:none;
  }
}