

.logo {
  height: 8vh;
  width: 8vh;
  margin-top: 7vh;
  margin-bottom: 2vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.NavCont {
  background-color: rgba(255, 255, 255, 0.221);
}
.navLinks {
  margin-top: 9vh;
  display: flex;
  flex-direction: column;
  /* float: right; */
}
.BtnText {
  font-family: AquilineTwo;
  text-transform: capitalize;
  color: rgb(0, 0, 0);
  text-shadow: 0 0 20px rgb(255, 255, 255), 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #fff,
    0 0 60px #fff, 0 0 70px #fff, 0 0 80px #fff;
  font-size: 3.5vh;
  font-weight: bold;
  margin: 0 2vh;
  width: 250px;
}
.Btn{
  margin-top: 4vh;
}