.flip {
  margin-top: 5vh;
}
.spells {
  display: flex;
  justify-content: flex-end;
  margin-right: 20vh;
}
.container {
  background: url("../../Assets/Images/notebg - Copy.jpg") no-repeat center;
  background-size: cover;
  height: 100vh;
}
.grid {
  background: url("../../Assets/Images/note.png") no-repeat center center;
  background-size: 32vw 100vh;
  border-radius: 20px;
  padding-top: 20vh;
  height: 100vh;
  border: 5px #fff;
}
@font-face {
  font-family: ParryHotter;
  src: url("../../Assets/Fonts/ParryHotter.ttf");
}

#title h1 {
  margin-top: 12vh;
  text-decoration: underline;
  font-size: 3vh;
}
#para p {
  margin-top: 6.5vh;
  padding: 3vh;
  font-size: 3vh;
}
#th4 {
  margin-top: 20vh;
  text-align: left;
  font-size: 3vh;
  padding-right: 16vh;
}

