.flip {
  margin-top: 5vh;
}
.spells {
  display: flex;
  justify-content: flex-end;
  margin-right: 20vh;
}
.notspells {
  display: none;
}
.minispells {
  display: none;
}
.container {
  background: url("../../Assets/Images/notebg - Copy.jpg") no-repeat center;
  background-size: cover;
  height: 100vh;
}
.grid {
  background: url("../../Assets/Images/note.png") no-repeat center center;
  background-size: 32vw 100vh;
  border-radius: 20px;
  padding-top: 20vh;
  height: 100vh;
}
@font-face {
  font-family: ParryHotter;
  src: url("../../Assets/Fonts/ParryHotter.ttf");
}

#title {
  width: 50%;
  padding: 3vh;
  padding-left: 7.5vh;
  margin-top: 6vh;
}
#title h1 {
  font-size: 3.3vh;
  text-align: center;
}
#th4 {
  margin-top: 22vh;
  text-align: left;
  justify-content: left;
  display: flex;
}

#para {
  padding: 3vh;
  padding-right: 6vh;
  width: 50%;
  margin-top: 3vh;
}
#para p {
  font-size: 3vh;
}

@media screen and (max-width: 1300px) {
  #para p {
    font-size: 2.5vh;
    width: 27vh;
    /* padding: 1vh; */
  }
  #th4 {
    margin-top: 19vh;
    margin-left: 3vh;
  }
}

@media screen and (max-width: 1200px) {
  .spells {
    display: none;
  }
  .notspells {
    padding: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .minispells{
    display: none;
  }
  #spellcont {
    background: url("../../Assets/Images/centernote.jpg")no-repeat center center;
    width:55vw;
    border-radius: 5px;
    height: 70vh;
  }
  #leftpage {
    margin-top:3vh;
    width: 50%;
  }
  #leftpage p{
    margin-top:22vh;
    padding-left: 5vh;
    font-size:4vh;
  }
  #rightpage {
    margin-top:3vh;
    width: 50%;
  }
  #rightpage p{
    margin-top:22vh;
    padding-left: 5vh;
    font-size:3vh;
  }
  #paraspell{
    margin-top:10vh;
  }
  #titlespell{
    margin-top:10vh;
  }
}
@media screen and (max-width:600px){
  .spells {
    display: none;
  }
  .notspells {
    display: none;
  }
  .minispells {
    padding: 6vh;
    display: flex;
    flex-direction:row;
    justify-content: center;
  }
  #spellcont {
    display: flex;
    flex-direction:row;
    background: url("../../Assets/Images/centernoteblank.jpg")no-repeat center center;
    width:55vw;
    border-radius: 5px;
    height: 70vh;
  }
  #lft{
    margin-top: 5vh;
  }
}